<processing-indicator *ngIf="isProcessing"></processing-indicator>
<div class="row" *ngIf="properties">
  <div class="col-sm-4">
    <mat-card class="left-card-container">
      <div style="margin-left: 10px;" class="header">
        <h6>APPOINTMENT DETAILS</h6>
      </div>
      <br>
      <div class="row between-spacing centered-text">
        <div class="icon-container">
          <img src="assets/images/users/calendar.png" class="icons" onError="src = 'assets/images/blank.png';">
        </div>
        <div class="detail-container">
          <label class="title">Appointment Date</label><br>
          <!-- <label>{{properties.from | date: 'dd/MM/yyyy'}} - {{properties.till | date: 'dd/MM/yyyy'}}</label> -->
          <label>{{properties.from | date: 'MM/dd/yyyy'}}</label>
        </div>
      </div>
      <div class="row between-spacing centered-text">
        <div class="icon-container">
          <img src="assets/images/users/time.png" class="icons" onError="src = 'assets/images/blank.png';">
        </div>
        <div class="time-container">
          <label class="title">Start Time</label><br>
          <!-- <label>{{properties.from | date: 'dd/MM/yyyy - h:mm a'}}</label> -->
          <label>{{properties.from | date: 'h:mm a'}}</label>
        </div>
        <div class="time-container">
          <label class="title">End Time</label><br>
          <!-- <label>{{properties.till | date: 'dd/MM/yyyy - h:mm a'}}</label> -->
          <label>{{properties.till | date: 'h:mm a'}}</label>
        </div>
      </div>
      <div class="vertical-spacing">
        <label class="title">Topic</label>
        <br>
        <label>{{properties.purpose}}</label>
        <br>
        <label class="title">Prescriber</label>
        <br>
        <label *ngIf="properties.agent && properties.agent.profile">Name: {{properties.agent.profile.firstName}}
          {{properties.agent.profile.lastName}}</label>
        <br>
        <label class="title">Zoom</label>
        <br>
        <label *ngIf="properties.meta">Id: <span matTooltip="Click to copy in clipboard"
            (click)="copyItemValue(properties.meta.id)">{{properties.meta.id}}</span></label>
        <br *ngIf="properties.meta">
        <a [href]="properties.meta.start_url" target="_blank">Click To Join Meeting</a>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-8">
    <mat-card style="margin-top: 20px;">
      <div class="header">
        <h6>PATIENTS</h6>
      </div>
      <br>
      <ng-container *ngIf="properties.visitors && properties.visitors.length">
        <table #table mat-table [dataSource]="properties.visitors" class="mat-elevation-z0">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let patient">
              <span class="patient-name" *ngIf="!patient.isProcessing">
                {{patient.profile.firstName}} {{patient.profile.lastName}}
              </span>
              <!-- <div *ngIf="!patient.isProcessing">
                  <input #patientInput matInput type="text" name="patient" placeholder="Patient Search"
                    [(ngModel)]="patient" type="text" [matAutocomplete]="patientAuto" [formControl]="patientCtrl">
                  <mat-error class="ml-2" *ngIf="isSubmitted && patientCtrl.errors?.required">
                    Please Select <strong>Patient</strong>
                  </mat-error>
                  <mat-autocomplete #patientAuto="matAutocomplete" autoActiveFirstOption
                    (optionSelected)="onPatientSelect($event)">
                    <mat-option *ngFor="let patient of patientList" [value]="patient">
                      {{patient.profile.firstName}} {{patient.profile.lastName}}
                    </mat-option>
                  </mat-autocomplete>
                </div> -->

            </td>
          </ng-container>

          <ng-container matColumnDef="practice">
            <th mat-header-cell *matHeaderCellDef>Practice</th>
            <td class="pointer" mat-cell *matCellDef="let patient" [class.processing]="patient.isProcessing">
              <ng-container *ngIf="patient.meta && patient.meta.organization">{{patient.meta.organization.name}}
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef>Location</th>
            <td class="pointer" mat-cell *matCellDef="let patient" [class.processing]="patient.isProcessing">
              <ng-container *ngIf="patient.meta && patient.meta.division">
                {{patient.meta.division.name}}</ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="prescriber">
            <th mat-header-cell *matHeaderCellDef>Prescriber Name</th>
            <td class="pointer" (click)="select(item)" mat-cell *matCellDef="let patient"
              [class.processing]="patient.isProcessing">
              <ng-container *ngIf="patient.meta && patient.meta.prescriber && patient.meta.prescriber.profile">
                {{patient.meta.prescriber.profile.firstName}} {{patient.meta.prescriber.profile.lastName}}
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th class="text-right" mat-header-cell *matHeaderCellDef>
            </th>
            <td class="text-center" mat-cell *matCellDef="let patient">
              <button mat-icon-button matTooltip="Remove" (click)="removePatient(patient)">
                <mat-icon>clear</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-container>
    </mat-card>
  </div>
</div>
<a #alink target="_blank" class="hidden"></a>